[user]
	email = JulianLindblad@gmail.com
	name = Julian Lindblad
[color]
	ui = true
[core]
	quotepath = false
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
[alias]
	lol = log --oneline --decorate --graph
	st = status -s
	co = checkout
  ls = "!git ls-tree -r master | awk '{ print $4}' | while read in; do ls -l "$in"; done"
[push]
	default = simple
